.daily {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    header {
        position: relative;
        background: #064f75;
        padding: 8px;
        flex-shrink: 0;
        text-align: center;
        color: white;

        .title {
            font-size: 20px;
            font-weight: bold;
        }

        .subtitle {
            text-transform: uppercase;
            font-size: 10px;
        }
    }

    section {
        position: relative;
        flex-grow: 1;
        display: flex;
        overflow-y: hidden;
    }

    .menuButton {
        display: none;
        position: absolute;
        left: 16px;
        top: 20px;
        cursor: pointer;
        width: 32px;
        z-index: 101;

        div {
            width: 100%;
            height: 3px;
            background: white;
            position: absolute;
            left: 0;
            transition: all 0.2s;

            &:nth-of-type(1) {
                top: 0;
                transform-origin: 0 0;
            }

            &:nth-of-type(2) {
                top: 10px;
            }

            &:nth-of-type(3) {
                top: 20px;
                transform-origin: 0 100%;
            }
        }

        &.opened {
            div {
                &:nth-of-type(1) {
                    transform: rotate(45deg) scaleX(0.95);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    transform: rotate(-45deg) scaleX(0.95);
                }
            }
        }
    }

    .sidebar {
        position: relative;
        width: 290px;
        max-width: 100%;
        max-height: 100%;
        padding-right: 2px;
        flex-shrink: 0;
        background: white;

        .cityTable {
            max-height: 100%;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 15px;
                background: #fafafa;
            }

            &::-webkit-scrollbar-thumb {
                border-left: 2px solid rgba(#1b75bb, 0.5);
            }

            thead {
                .ant-checkbox {
                    display: none;
                }

                .ant-table-column-sorters {
                    padding: 4px;
                }
            }

            .ant-table-cell {
                padding: 4px;
                font-size: 12px;

                .smallText {
                    font-size: 9px;
                }
            }
        }
    }

    .center {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 8px;
        background: #fafafa;

        .generalStatistics {
            padding: 0 8px;
            display: flex;
            flex-wrap: wrap;
            flex-shrink: 0;
            overflow-x: auto;
            max-width: 100%;
            margin-bottom: 8px;

            .ant-card {
                min-width: 175px;
                margin-right: 8px;
                margin-bottom: 8px;
            }
        }

        .charts {
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            align-content: flex-start;
            align-self: flex-start;
            align-items: flex-start;

            .cityChart {
                margin-left: 8px;
                margin-bottom: 8px;

                .header {
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;

                    .cityName {
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 12px;
                    }

                    .count {
                        font-size: 18px;
                        font-weight: 500;
                        opacity: 0.75;
                    }
                }

                .lineChart {
                    width: 500px;
                }
            }
        }
    }

    @media (max-width: 860px) {
        .menuButton {
            display: block;
        }

        .sidebar {
            position: fixed;
            z-index: 100;
            top: 62px;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            transition: transform 0.2s;
            transform: translateX(-100%);
            padding-right: 0;

            .cityTable {
                &::-webkit-scrollbar {
                    width: 2px;
                    background: white;
                }
            }

            &.opened {
                transform: translateX(0);
            }
        }

        .center {
            max-width: 100%;
            padding-right: 8px;

            .generalStatistics {
                flex-wrap: nowrap;
                max-width: 100%;
            }
        }

        .charts {
            max-width: 100%;

            .cityChart {
                margin-left: 0;

                .lineChart {
                    width: calc(100vw - 32px - 10px) !important;
                }
            }
        }
    }
}
